/*
* @Author: chrisyqq
* @Date:   2016-08-08 10:54:29
* @Last Modified by:   chrisyqq
* @Last Modified time: 2016-08-11 09:44:59
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
body {color: #2f332a;font: 15px/21px Arial, Helvetica, simsun, sans-serif;background: #f0f6e4 \9;}
h1, h2, h3, h4, h5, h6 {color: #2f332a;font-weight: bold;font-family: Helvetica, Arial, sans-serif;padding-bottom: 5px;}
h1 {font-size: 20px;line-height: 34px;text-align: center;}
h2 {font-size: 14px;line-height: 24px;padding-top: 5px;}
h6 {font-weight: normal;font-size: 12px;letter-spacing: 1px;line-height: 24px;text-align: center;}
a {color:#3C6E31;text-decoration: underline;}
a:hover {background-color:#3C6E31;color:white;}
input.radio {margin: 0 2px 0 8px;}
input.radio.first {margin-left:0;}
input.empty {color: lightgray;}
code {color: #2f332a;}
.highlight_red {color:#A60000;}
.highlight_green {color:#A7F43D;}
li {list-style: circle;font-size: 12px;}
li.title {list-style: none;}
ul.list {margin-left: 17px;}

div.content_wrap {width: 100%;height:380px;}
div.content_wrap div.left{float: left;width: 30%;}
div.content_wrap div.right{float: right;width: 70%;height:650px;background: #ffffff;border-left: 1px #dddddd solid;margin-left: -1px;}
.management-right{float: left;width: 100%;height:650px;background: #f2f2f2;}
div.zTreeDemoBackground {width:250px;height:600px;text-align:left;}
.result-left{float: left;width: 40%;height:650px;text-align:left;background: #f2f2f2;z-index: 100;}
.result-right{float: left;width: 56%;padding-right: 2%;padding-left: 2%;height:650px;background: #f2f2f2;margin-left: -1px;border-left: solid 1px #dddddd;}
.result-left-top{border-bottom:  solid 1px #dddddd;}
.result-right-middle{height: 50px;}

ul.ztree {background: #ffffff;height:100%;}
ul.log {border: 1px solid #617775;background: #f0f6e4;width:300px;height:170px;overflow: hidden;}
ul.log.small {height:45px;}
ul.log li {color: #666666;list-style: none;padding-left: 10px;}
ul.log li.dark {background-color: #E3E3E3;}
.ztree li a.level0 span {
    font-size: 110% !important;
    font-weight: bold;
}


/* ruler */
div.ruler {height:20px; width:220px; background-color:#f0f6e4;border: 1px solid #333; margin-bottom: 5px; cursor: pointer}
div.ruler div.cursor {height:20px; width:30px; background-color:#3C6E31; color:white; text-align: right; padding-right: 5px; cursor: pointer}

/* my style */
.ztree-title{
	background: #f5f5f5;
	color: #666666;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	border-bottom: 1px #dddddd solid;
	border-right: 1px #dddddd solid;
}
.right-title{
	background: #f5f5f5;
	color: #666666;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px #dddddd solid;
}
.rigit-body-title{
	width: 90%;
	margin-left: 5%;
	height: 60px;
	line-height: 60px;
}
.title-button{
	float: right;
}
.rigit-body{
	width: 100%;
	height: 100%;
	position: relative;;
}
.rigit-body-table{
	width: 90%;
	margin-left: 5%;
	background: #ffffff;
}
.pagination{
	float: right;
	margin-right: 5% !important;
}
.btn-primary{
	background: #169bd5 !important;
}

/* result */
.result-left-bottom{
	margin-top:20px;
	padding-left: 10px;
	padding-right: 10px; 
}
.result-left-bottom table{
	background: #ffffff;
}
.result-right-body{
	margin-top: 20px;
	height: 160px;
}
.result-right-body .control-group{
	margin-right:20px;
}
.result-right-body .control-group input{
	width: 180px;
}
.result-right-bottom{
	width: 100%;
	height: 400px;
	background: #ffffff;
	border-radius: 10px;
	border:solid 1px #dddddd;
	/* margin-left: 5%; */
}

/* management */
.management-control-group input{
	width: 190px;
}
.management-control-group textarea{
	width: 690px;
	height: 80px;
}
.management-modal{
	width: 800px !important;
	margin-left: -400px !important;
}
.management-table-in{
	width: 380px !important;
	float: left;
}
.management-table-out{
	float: left;
	margin-left: 10px;
	width: 380px !important;
}
